WORDPRESS_TABLE_PREFIX=new_prefix
WORDPRESS_DATABASE_USER=your_username
WORDPRESS_DATABASE_PASSWORD=your_password
WORDPRESS_DATABASE_NAME=your_database_name
WORDPRESS_DATABASE_HOST=mariadb
WORDPRESS_DATABASE_PORT_NUMBER=3306
WORDPRESS_HOSTNAME=blog.yourdomain.com
